<!DOCTYPE html>
<html>
<head>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <title>Availability poisoning Leaderboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Tianrui Qin" /> 
        <meta name="keywords" content="Availability poisoning"/>
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <style>
                img {
                        width: 80%;
                }
        </style>

    {% include head.html %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: false,
              stateSave: true,
              searching: true
          });
       });
    </script>

</head>
<body>


<!-- Page Content -->
<div class="container">

<h1 id="classification-leaderboard" align="left">APBench: A Unified Benchmark for Availability Poisoning Attacks and Defenses</a></h1>

<h5 align="left"><a href="https://github.com/lafeat/apbench">Source code</a> &nbsp;<a>Paper</a> &nbsp
<br>
<p>Availability poisoning is an emerging and popular topic that investigates stealthy alterations on data to make that data unusable for deep learning model training. Recent papers have proposed a number of usability poisoning attacks and defenses. It is important to establish a benchmark to review current progress and facilitate future research in the area of availability poisoning.
APBench aims to provide easy implementations of availability poisoning attack & defense methods to facilitate future research as well as a comprehensive evaluation of existing attack and defense methods. We eagerly welcome you to contribute your availability poisoning attack & defense methods to APBench.
<br>
<img src="main.png">
<br>
  <div id="main">
    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="{{content_col_size}}" id="tg-sb-content">
            <div class="datatable-begin"></div>
            {{content}}
            <div class="datatable-end"></div>
        </div>
    <!-- /.row -->
</div>


<!-- /.container -->
</div>
<!-- /#main -->
    </div>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>

